@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu-link {
    @apply w-screen md:w-full py-6 font-bold border-t border-zinc-800 hover:text-[#13B5D2] hover:bg-zinc-800 transition-colors duration-500 cursor-pointer;
  }
  .section {
    @apply rounded-lg text-white my-10 py-4 mx-8 px-3 max-w-[80vw] lg:max-w-[65%] lg:mx-auto 2xl:max-w-[55%];
  }
  .section-heading {
    @apply text-[2.9rem] font-bold text-transparent bg-gradient-to-r from-[#13B5D2] to-blue-600 bg-clip-text;
  }
  .section-description {
    @apply ml-1 font-serif space-y-5;
  }
  .section-btn {
    @apply px-10 py-2 mt-5 bg-transparent font-bold border-2 border-[#08FDD8] text-[#08FDD8] hover:bg-[#08FDD8] transition-colors duration-500 hover:text-black w-max cursor-pointer;
  }
  .contact-input {
    @apply py-3 px-2 bg-zinc-800 w-[70%] outline-none;
  }
  .bar-animation {
    @apply h-[1px] group-focus-within:-translate-x-[0%] bg-[#13B5D2] -translate-x-[100%] transition-transform duration-500;
  }
  .header-link {
    @apply text-white font-bold p-1 cursor-pointer hover:-translate-y-[2px] transition-transform duration-500;
  }
}

body {
  overflow-x: hidden;
  background-image: linear-gradient(to bottom right, #313131, #141414);
}

.menu-animation {
  animation: 500ms menu-animation;
}

.show-more-animation {
  animation: 500ms show-more-animation;
}

.email-sent-animation {
  animation: 500ms email-sent-animation;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: rgb(87, 87, 87);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(128, 126, 126);
}

::-webkit-scrollbar-track {
  background-color: #3b3b3b;
}

@keyframes menu-animation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes show-more-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes email-sent-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
